html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

body {
  background-color: #fff;
  color: #2f2d13;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: block;
  background-color: #ffe500;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  font-size: 3rem;
  color: #b20953;
  text-align: center;
  margin: auto;
}

.nav li {
  display: inline-block;
}

.nav li a {
  color: #fff;
  line-height: 1.5rem;
  font-size: 1.125rem;
  list-style-type: none;
  display: inline-block;
  padding: .3em;
  background-color: #b2a212;
  border-radius: 4px;
  margin-bottom: .3em;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #cc1465;
}

.nav .current {
  background-color: #b20953;
}

footer {
  text-align: center;
  display: block;
  background-color: #ffe500;
  padding: .3em;
  font-size: .75em;
}

h2 {
  font-size: 1.875rem;
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
}

main {
  display: block;
  margin: 0 .75em;
}

img {
  display: block;
  margin: .3em;
  padding-top: .5em;
  padding-bottom: .3em;
  width: 100%;
}

.p {
  font-size: 1.125rem;
}

.nav {
  margin: 0;
  padding: 0;
  text-align: center;
}
